<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.2.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.2.0 https://maven.apache.org/xsd/settings-1.2.0.xsd">

    <servers>
        <server>
            <id>cheerego-devops-maven</id>
            <username>yourusername</username>
            <password>yourpassword</password>
        </server>
    </servers>

    <profiles>
        <profile>
            <id>repository</id>
            <repositories>
                <repository>
                    <id>tencent-maven</id>
                    <name>TencentCloud Maven</name>
                    <url>https://mirrors.cloud.tencent.com/nexus/repository/maven-public/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>cheerego-devops-maven</id>
                    <name>maven</name>
                    <url>https://cheerego-maven.pkg.coding.net/repository/devops/maven/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>maven2-plugin</id>
                    <url>https://mirrors.cloud.tencent.com/nexus/repository/maven-public/</url>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>repository</activeProfile>
    </activeProfiles>
</settings>
